<a href="https://colab.research.google.com/github/vamsiteja142/SVM_Beer_Data/blob/master/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np

In [20]:
from google.colab import files
uploaded = files.upload()

In [0]:
dataset = pd.read_csv('beer_data.csv')

In [22]:
dataset.head()

   ABV  Ratings Cellar Temperature  Score
0  7.5        1              40-45   4.08
1  5.3       22              40-45   3.82
2  9.0        1              45-50   4.03
3  4.6        1              35-40   4.00
4  6.9        1              45-50   3.75

In [0]:
dataset['min_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[0].strip()))
dataset['max_cellar_temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(x.split('-')[1].strip()))

dataset.drop('Cellar Temperature', axis = 1, inplace=True)

In [24]:
dataset.columns

Index(['ABV', 'Ratings', 'Score', 'min_cellar_temperature',
       'max_cellar_temperature'],
      dtype='object')

In [0]:
dataset = dataset[['ABV', 'Ratings', 'min_cellar_temperature',
       'max_cellar_temperature', 'Score']]

In [26]:
dataset.head()

   ABV  Ratings  min_cellar_temperature  max_cellar_temperature  Score
0  7.5        1                      40                      45   4.08
1  5.3       22                      40                      45   3.82
2  9.0        1                      45                      50   4.03
3  4.6        1                      35                      40   4.00
4  6.9        1                      45                      50   3.75

In [0]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [44]:
dataset.shape

(1631, 5)

In [47]:
x.columns

Index(['ABV', 'Ratings', 'min_cellar_temperature', 'max_cellar_temperature'], dtype='object')

In [50]:
type(x)

pandas.core.frame.DataFrame

In [52]:
type(y)

pandas.core.series.Series

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x , y , test_size = .2, random_state = 0)

In [0]:
from sklearn.svm import SVR
svr = SVR(kernel = 'rbf')

In [61]:
svr.fit(x_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
y_pred =  svr.predict(x_test)

In [64]:
y_pred.shape

(327,)

In [65]:
def rmsle(y_test, y_pred):
  error = np.square(np.log10(y_pred + 1) - np.log10(y_test + 1)).mean()**0.5
  score = 1- error
  return score
print(rmsle(y_test,y_pred))

0.7547923336455806